
    .body-insecta{

        /* versión no cartòn
  background: linear-gradient(90deg, rgb(13, 78, 74) 0%, #0e4648 40%, var(--insecta-rose) 100%);
*/
  background: linear-gradient(90deg, rgb(80, 43, 43) 0%, rgb(80, 43, 43) 10%, var(--insecta-rose) 15%, var(--insecta-rose) 65%, rgb(80, 43, 43) 70%, rgb(80, 43, 43) 100%);
  
  background-size: 3%;
 
}

  /* versión no cartòn
.body-insecta{

   
  background: linear-gradient(90deg, rgb(13, 78, 74) 0%, #0e4648 40%, var(--insecta-rose) 100%);


  

} */



.body-tach-felino{


background: linear-gradient(90deg, rgb(24, 86, 90) 0%, rgb(35, 75, 78) 20%, rgb(46, 125, 129) 25%, rgb(46, 125, 129) 75%, rgb(17, 65, 78) 80%, rgb(10, 74, 92) 100%);
background: linear-gradient(90deg, black 0%, black 25%, rgb(95, 95, 95) 25%, rgb(95, 95, 95) 75%, black 75%, black 100%);

background-size: 3%;   
}


.dias-lime{ /*body de Días Lime*/

background: linear-gradient(90deg, rgb(150, 141, 57) 0%, rgb(150, 141, 57) 20%, rgb(171, 160, 69) 25%, rgb(171, 160, 69) 75%, rgb(150, 141, 57) 80%, rgb(150, 141, 57) 100%);

background-size: 3%;


}


.dias-lime .letra{ 
color: white;
}

.dias-lime p{
color: white;
}


@media screen and (min-width: 430px) {
 .body-insecta{
  
   background-size: 2.5%;
 }
 .body-tach-felino{
  background-size: 2.5%;
 }
 .dias-lime{
  background-size: 2.5%;
 }
}

@media screen and (min-width: 768px) {
.body-insecta{
 
  background-size: 1.5%;
}
.body-tach-felino{
 background-size: 1.5%;
}
.dias-lime{
 background-size: 1.5%;
}
}



/*.......ACORDES---------*/
  
.acordes-container{
width: 280px;
height: 200px;
overflow-x: hidden;

margin-left: auto;
margin-right: auto;
/* transform: perspective(1000px) rotateX(45deg) rotateZ(20deg);
*/ 
background: linear-gradient(90deg, rgb(52, 51, 51) 0%, black 70%, rgb(28, 27, 27) 100%);

background-size: 4%;
}

.acorde{
position: relative;
background-image: url("../assets/diapason_final.png");
width: 310px;
height: 170px;
background-size: 118%;
background-position: -15px -50px;
margin-bottom: 40px;


}

.nombre-acorde{
font-size: 20px;
color: rgb(184, 179, 179);
width: 200px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
font-weight: 100;
text-align: center;

}

/*----------  DEDOS (GENERAL)----------*/
.dedo1{
width: 20px;
height: 20px;
background-color: rgb(195, 32, 32);
border-radius: 50%;
position: absolute;
}

.dedo2{
width: 20px;
height: 20px;
background-color: rgb(92, 244, 92);
border-radius: 50%;
position: absolute;
}

.dedo3{
width: 20px;
height: 20px;
background-color: rgb(10, 212, 216);
border-radius: 50%;
position: absolute;
}

.dedo4{
width: 20px;
height: 20px;
background-color: yellow;
border-radius: 50%;
position: absolute;
}

/*-----------DEDOS DE CADA ACORDE------*/


/*--------DO--------*/

.do-mayor .dedo1{
top: 66px;
left: 45px;
}
.do-mayor .dedo2{
top: 99px;
left: 93px;
}
.do-mayor .dedo3{
top: 116px;
left: 121px;
}
.do-mayor .dedo4{
visibility: hidden;
}

/*---------Re----------*/



.re-mayor .dedo1{
top: 85px;
left: 93px;
}
.re-mayor .dedo2{
top: 50px;
left: 93px;
}
.re-mayor .dedo3{
top: 66px;
left: 130px;
}
.re-mayor .dedo4{
visibility: hidden;
}


.re-mayor-7 .dedo2{
top: 85px;
left: 93px;
}
.re-mayor-7 .dedo4{
top: 50px;
left: 93px;
}
.re-mayor-7 .dedo3{
top: 66px;
left: 93px;
}
.re-mayor-7 .dedo1{
visibility: hidden;
}


/*----------------Mi-----------*/
.mi-mayor .dedo2{
top: 115px;
left: 80px;
}
.mi-mayor .dedo4{
visibility: hidden;
}
.mi-mayor .dedo3{
top: 99px;
left: 93px;
}
.mi-mayor .dedo1{
top: 84px;
left: 45px;
}


.mi-mayor-7 .dedo2{
top: 85px;
left: 173px;
}
.mi-mayor-7 .dedo4{
top: 50px;
left: 173px;
}
.mi-mayor-7 .dedo3{
top: 66px;
left: 173px;
}
.mi-mayor-7 .dedo1{
top: 99px;
left: 93px;
}



.mi-menor .dedo2{
top: 115px;
left: 80px;
}
.mi-menor .dedo4{
visibility: hidden;
}
.mi-menor .dedo3{
top: 99px;
left: 93px;
}
.mi-menor .dedo1{
visibility: hidden;
}




.mi-sus4 .dedo2{
top: 115px;
left: 93px;
}
.mi-sus4 .dedo4{
top: 85px;
left: 93px;
}
.mi-sus4 .dedo3{
top: 99px;
left: 93px;
}
.mi-sus4 .dedo1{
visibility: hidden;
}




/*---------Fa----------*/



.fa-mayor .dedo1{
border-radius: 30%;
width: 20px;
height: 105px;
top: 49px;
left: 46px;
}
.fa-mayor .dedo2{
top: 83px;
left: 90px;
}
.fa-mayor .dedo3{
top: 115px;
left: 121px;
}
.fa-mayor .dedo4{
top: 98px;
left: 136px;
}


/*---------Sol----------*/



.sol-mayor .dedo1{
top: 115px;
left: 93px;
}
.sol-mayor .dedo2{
top: 133px;
left: 122px;
}
.sol-mayor .dedo4{
top: 51px;
left: 137px;
}
.sol-mayor .dedo3{
visibility: hidden;
}


/*---------La----------*/

.la-mayor-7 .dedo2{
top: 99px;
left: 93px;
}
.la-mayor-7 .dedo4{
visibility: hidden;
}
.la-mayor-7 .dedo3{
top: 66px;
left: 93px;
}
.la-mayor-7 .dedo1{
top: 83px;
left: 43px;
}




.la-menor .dedo1{
top: 66px;
left: 45px;
}
.la-menor .dedo2{
top: 99px;
left: 75px;
}
.la-menor .dedo3{
top: 83px;
left: 93px;
}
.la-menor .dedo4{
visibility: hidden;
}


/*-------Si---------*/


.si-menor .dedo1{
border-radius: 30%;
width: 20px;
height: 105px;
top: 49px;
left: 93px;
}
.si-menor .dedo2{
top: 66px;
left: 135px;
}
.si-menor .dedo3{
top: 99px;
left: 173px;
}
.si-menor .dedo4{
top: 83px;
left: 178px;
}


/*------------PARTITURA-----------------*/

.partitura{


width: 280px;
height: auto;

overflow-x: hidden;

border-radius: 5px;

margin-left: auto;
margin-right: auto;
margin-top: -20px;
background: linear-gradient(90deg, rgb(52, 51, 51) 0%, black 70%, rgb(28, 27, 27) 100%);

background-size: 4%;

}

.partitura pre{

color: rgb(241, 233, 233);
font-size: 14px;
line-height: 24px;
padding-left: 20px;
}

.body-insecta .partitura{
background: linear-gradient(90deg, rgb(24, 23, 23) 0%,  rgb(24, 23, 23) 10%,rgb(14, 69, 69) 15%, rgb(14, 69, 69) 85%,rgb(24, 23, 23) 90%, rgb(24, 23, 23) 100%);

background-size: 4%;
}


.body-insecta .acordes-container{
background: linear-gradient(90deg, rgb(24, 23, 23) 0%,  rgb(24, 23, 23) 10%,rgb(14, 69, 69) 15%, rgb(14, 69, 69) 85%,rgb(24, 23, 23) 90%, rgb(24, 23, 23) 100%);

background-size: 4%;
}

/*--------------------------------*/

.anterior-siguiente{
width: 80%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: -10px;
}


.anterior-siguiente a{
text-decoration: none;
font-weight: 100;
font-size: 18px;
color: rgb(182, 179, 179);

}


.bg-insecta-rose{
background-color: var(--insecta-rose);
}

.bg-black{
background-color: rgb(8, 8, 8);
}





.body-tach-felino .letra{

color: white;
background: linear-gradient(90deg, gray 0%, black 60%, gray 100%);
background-size: 2%;
}





.dias-lime .anterior-siguiente a{
color: rgb(221, 221, 223);
}

.canciones-h1{
color: white;
margin-top: -10px;
margin-bottom: 50px;
font-size: 25px;
font-weight: 100;
text-align: center;
text-shadow: 4px 0px 4px rgb(17, 16, 16);
}
 
.cancion-body{
width: 100%;
height: 100%;

}



.instrumento{
color: rgb(104, 102, 102);
}


.letras-insecta{
background-image: url("../assets/hormiguero.jpg");
background-size: cover;

color: rgb(206, 203, 203);

}

.letra{

padding: 10px;
padding-top: 30px;
margin-top: 80px;
font-weight: 100;
font-size: 16px;
line-height: 30px;
margin-right: auto;
margin-left: auto;
width: 280px;
height: 280px;
overflow-y: scroll;
scroll-behavior: smooth;
box-shadow: 5px 0 1rem 0.2rem rgb(36, 36, 36); 

transform: perspective(1000px) rotateX(-25deg);

}


.musicos{

padding: 30px;
margin-top: -30px;

font-weight: 100;
font-size: 14px;
line-height: 12px;
margin-right: auto;
margin-left: auto;
width: 262px;
height: 262px;
overflow-x: hidden;
overflow-y: scroll;
scroll-behavior: smooth;
box-shadow: 5px 0 1rem 0.1rem rgb(8, 8, 8); 

color: gray;
}

.grabacion {

padding: 30px;
margin-top: -13px;

font-weight: 100;
font-size: 14px;
line-height: 12px;
margin-right: auto;
margin-left: auto;
width: 278px;
height: 278px;
overflow-x: hidden;
overflow-y: scroll;
scroll-behavior: smooth;
box-shadow: 5px 0 1rem 0.1rem rgb(22, 22, 22); 

color: gray;
transform: perspective(1000px) rotateX(20deg);

}


.grabacion h2{
text-align: center;
font-weight: 100;
color: white;
margin-bottom: 40px;
}


.musico{
color: var(--insecta-rose);
color: rgb(181, 173, 173) ;
}

.musicos h2{
text-align: center;
font-weight: 100;
color: white;
margin-bottom: 40px;
}


.tema-individual{
width: 80vw;
height: auto;
margin-left: auto;
margin-right: auto;

box-shadow: 5px 0 1rem 0.2rem rgb(65, 64, 64);
margin-top: 50px;
margin-bottom: 30px;
overflow-x: hidden;
border-radius: 10px;
}


.video-tema-individual-container{
width: 100%;
height: 100%;
position: relative;
z-index: 1;
}

.video-tema-individual{

position: relative;
max-width: 100%;
height: 0;
padding-bottom: 56.25%;

transition: filter 1.5s linear;
top: 25%;


}


.video-tema-individual>*{
position: absolute;
width: 100%;      
height: 100%;

}


.volver a{
text-decoration: none;

    width: 44px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16%;
  
    color: rgb(208, 201, 201);

    text-shadow: 1px 2px rgb(24, 23, 23);
   
  
  
    z-index: 100;
}




/*-------disc-rotate (temas individuales)------*/


@keyframes Disc-Rotating{
0%{

  transform: rotateZ(0deg);


}
100%{
transform: rotateZ(360deg);


}

}
.disc-rotating{
animation: Disc-Rotating 1.818s linear infinite;

}

.disc-rotate-container-total{

width: 180px;
height: 180px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(45deg, rgb(225, 220, 220) 0%, rgb(91, 90, 90) 60%, rgb(87, 86, 86) 100%);
border-radius: 5px;

}

.disc-rotate-container-circle{
width: 100%;
height: 100%;

}

.disc-rotate-translate{

position: relative;
color: rgb(30, 30, 31);
width: 100%;

height: 100%;
border-radius: 50%;

z-index: 0;

}

.color-disc-insecta{
background-image: repeating-radial-gradient(rgb(26, 54, 51) 0% 1%, var(--insecta-rose) 2% 7%); 


}

.color-disc-tach-felino{

background-image: repeating-radial-gradient(black 0% 1%, rgb(95, 95, 95) 2% 7%); 


}

.color-disc-dias-lime{
background-image: repeating-radial-gradient(rgb(37, 37, 37) 0% 1%, rgb(11, 11, 11) 2% 7%); 
color: rgb(167, 176, 187);

}


.disc-pua-container{
width: 240px;
height: 220px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 50px;
background: linear-gradient(90deg, rgb(188, 118, 97) 0%, rgb(139, 78, 71) 18%, rgb(56, 28, 21) 100%);
background: linear-gradient(45deg, rgb(123, 121, 121) 0%, rgb(61, 61, 59) 40%, rgb(37, 35, 35) 100%);

padding-top: 4px;
box-shadow: 10px -10px 1rem 0.5rem rgb(30, 28, 28);
position: relative;
border-radius: 20px;
}


/*-----------PÚA--------------*/



.pua{

position: relative;
width: 100px;
height: 200px;

background-image: url("../assets/pua_sin_base.png");
background-size: 500%;
background-repeat: no-repeat;
background-position: -180px -180px;
transform-origin: 100% 20%;
transform: perspective(1000px) rotatez(-10deg) translateX(160%) translateY(-90%); 

z-index: 25;

}

/*-------PERILLA TOCADISCOS--------*/

.perilla{
width: 20px;
height: 20px;
border-radius: 50%;
position: absolute;
background: linear-gradient(45deg, rgb(122, 120, 120) 0%, rgb(122, 120, 120) 45%, rgb(54, 54, 54) 45%, rgb(54, 54, 54) 65%, rgb(79, 78, 78) 65%, rgb(87, 86, 86) 100%);

top: 79%;
left: 77.5%;
box-shadow: 2px 0 0.3rem 0.1rem rgb(18, 18, 18);

}



.base-temas-individuales{
width: 100%;
height: 500px;
padding-top: 120px;
margin-top: -90px;
background-color: black;
background: linear-gradient(45deg, rgb(140, 139, 137) 0%, rgb(73, 73, 91) 30%, rgb(28, 28, 34) 60%, rgb(0, 0, 0) 100%);
background: linear-gradient(45deg, rgb(156, 155, 153) 0%, rgb(83, 83, 98) 70%, rgb(51, 50, 70) 100%);

}


/*------------CARROUSEL-----------*/


.carrousel-grande{               
width: 100vw;
height: 80vw;

margin-left: auto;
margin-right: auto; 
margin-top: 50px;
overflow-x: hidden;   

transition: all 1s;

}


.carrousel-container-grande{
scroll-snap-type: x proximity; 
width: 100%;
height: 100%;
overflow-y: hidden;
overflow-x: scroll;
display: grid; 


grid-template-columns: repeat(3, 80%);
transition: all 1s;
}




@keyframes carrousel-slide { 
0% {
transform: translateX(0%);
}
25% {
  transform: translateX(-60%);
}
50% {
  transform: translateX(30%);
}
   


75% {
  transform: translateX(-20%);
  
}
}




.carrousel-slide-grande{
 position: relative;
  width: 99%;
  height: 100%;

 

scroll-snap-align: center;

margin-left: auto;
margin-right: auto;
box-shadow: 15px 0 1rem 1rem rgb(0, 0, 0); 
transition: all 1s;


/*  
border-top: 5px black;
border-bottom: 5px black; */

}

.animation-carrousel-slide{
animation: carrousel-slide 5s ease-in-out 1.5s; 
}


/*
.carrousel-slide:nth-child(odd){

background-color: rgba(15, 15, 15, 0.4);
}

.carrousel-slide:nth-child(even){

background-color: rgba(8, 0, 0, 0.5);
} */   



/*-------------DATOS TEMAS (chico)------------*/ 


.box-shadow-chico{
box-shadow: 3px -3px 1rem 0.1rem rgb(18, 18, 18);
}

.carrousel-slide-content{
text-align: center;
}


.slide-container h2{
color: white;
text-align: center;

}




.carrousel-cd-chico{
width: 300px;
height: 100px;
margin-top: 50px;
background-position: center;
margin-left: auto;
margin-right: auto;  
transition: all 1s;

}


.carrousel-container-cd-chico{
width: 300px;
height: 100px;

display: grid; 

grid-template-columns: repeat(3, 33.3%);
transition: all 1s;
}





.carrousel-container-cd-chico p{
font-size: 4px;
color: aqua;
padding: 0%;
line-height: 10px;
}

.carrousel-container-cd-chico h2{
font-size: 20%;
color: rgb(161, 157, 157);
}



.carrousel-slide-chico{
height: 100px;
}


@keyframes animation-hoja1{ 
0% {
transform-origin: 100% 0;
transform: perspective(1000px) rotateY(0deg);
}
25% {
transform-origin: 100% 0;
transform: perspective(1000px) rotateY(40deg); 
}
55% {
  transform-origin: 100% 0;
  transform: perspective(1000px) rotateY(30deg); 
}
   

75% {
  transform-origin: 100% 0;
  transform: perspective(1000px) rotateY(50deg); 
}
  
100% {
transform-origin: 100% 0;
transform: perspective(1000px) rotateY(0deg); 
  
}
}



@keyframes animation-hoja3{ 
0% {
transform-origin: 0 0;
transform: perspective(1000px) rotateY(0deg);
}
25% {
transform-origin: 0 0;
transform: perspective(1000px) rotateY(-40deg); 
}
55% {
  transform-origin: 0 0;
  transform: perspective(1000px) rotateY(-30deg); 
}
   

75% {
  transform-origin: 0 0;
  transform: perspective(1000px) rotateY(-50deg); 
}
  
100% {
transform-origin: 0 0;
transform: perspective(1000px) rotateY(0deg); 
  
}
}



.animation-hoja1{

animation: animation-hoja1 25s ease-in infinite;
}

.animation-hoja3{

animation: animation-hoja3 22s ease-in infinite;

animation-delay: 5s;

}




.img-insecta1{
background-color: rgb(18, 17, 17);
color: rgb(199, 195, 195);
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);

}


.img-insecta2{
background-image: url("../assets/hormiguero.jpg");
background-repeat: no-repeat;
background-size: 150%;
background-position: 15% 10%;
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
overflow-x: hidden;
color: rgb(199, 195, 195);
}

.img-insecta3{
background-color: var(--insecta-rose);
background-image: url("../assets/hormiguero.jpg");
background-repeat: no-repeat;
overflow-x: hidden;
background-size: 150%;
background-position: 220% 10%;
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
color: rgb(199, 195, 195);

}





/*

.img-insecta3{
background-color: black;
box-shadow: 0px 0px 1rem 0.4rem rgb(38, 38, 38);
}
*/


.img-dias-lime1{
background-color: black;
background-image: url("../assets/img_dias_lime.jpg");
background-size: 200%;
background-position: -50% 90%;
background-repeat: no-repeat;
overflow-x: hidden;
filter: sepia(0);
}

.img-dias-lime2{
background-image: url("../assets/img_dias_lime.jpg");
background-size: 200%;
background-repeat: no-repeat;
overflow-x: hidden;
background-position: 43% 90%;
filter: sepia(0);
}


.img-dias-lime3{
background-color: black;
background-image: url("../assets/img_dias_lime.jpg");
background-size: 200%;
background-position: 143.5% 90%;
background-repeat: no-repeat;
overflow-x: hidden;
filter: sepia(0);
}


.img-tach-felino1{
background-color: black;



}


.img-tach-felino1 h2{

color: var(--second-color);


}



.img-tach-felino1 .p{

color: white;


}


.img-tach-felino2 h2{
 color: var(--second-color);
 

}


.img-tach-felino2 .p{
color: white;
 

}

  
.img-tach-felino3 h2{

color: var(--second-color);
 

}


.img-tach-felino3 .p{

  color: white;
   
  
  }
 

.img-tach-felino2{
background-color: black;

background-image: url("../assets/img_gato_solo.jpg");
background-size: 120%;
background-position: -60% 0%;
background-repeat: no-repeat;
overflow-x: hidden;


}


.img-tach-felino3{
background-color: black;
background-image: url("../assets/img_arbol_solo.jpg");
background-size: 150%;
background-position: 8% 50%;
background-repeat: no-repeat;
overflow-x: hidden;

}







.box-shadow-gray{
box-shadow: 1px -1px 1rem 0.02rem rgb(44, 44, 44);
}

.chico-1 h2{
font-size: 40%;
margin-top: 5px;
font-weight: 100;
}

.chico-1 p{
font-size: 25%;
color: rgb(196, 192, 192);
line-height: 120%;
margin-top: 5px;

}



.chico-2-3 h2{
font-size: 40%;
margin-top: 5px;
font-weight: 100;
}

.chico-2-3 p{
font-size: 20%;
line-height: 100%;
margin-top: 5px;
color: rgb(200, 197, 197);
width: 80%;
text-align: left;
margin-left: auto;
margin-right: auto;
}







.grande-1 h2{
font-size: 12px;
margin-top: 15px;
margin-bottom: 10px;
font-weight: 100;
}

.grande-1 p{
font-size: 9px;

line-height: 12px;
margin-top: 5px;
font-weight: 100;
}



.grande-2-3 h2{
font-size: 12px;
margin-top: 15px;
font-weight: 100;
}

.grande-2-3 p{
font-size: 9px;
line-height: 12px;
margin-top: 1px;

text-align: left;
width: 90%;
margin-left: auto;
margin-right: auto;

}




@media screen and (min-width: 400px) {


.grande-1 h2{
font-size: 14px;
margin-top: 20px;
margin-bottom: 10px;
font-weight: 100;
}

.grande-1 p{
font-size: 11px;

line-height: 15px;
margin-top: 5px;
font-weight: 100;
}



.grande-2-3 h2{
font-size: 14px;
margin-top: 20px;
font-weight: 100;
}

.grande-2-3 p{
font-size: 11px;
line-height: 15px;
margin-top: 5px;

}





}







@media screen and (min-width: 550px) {


.grande-1 h2{
font-size: 16px;
margin-top: 30px;
margin-bottom: 20px;
font-weight: 100;
}

.grande-1 p{
font-size: 15px;

line-height: 20px;
margin-top: 5px;
font-weight: 100;
}



.grande-2-3 h2{
font-size: 16px;
margin-top: 30px;
font-weight: 100;
}

.grande-2-3 p{
font-size: 15px;
line-height: 20px;
margin-top: 5px;

}





}



#hoja-1 h2{
text-align: center;
}


#hoja-1 p{
text-align: center;
}


.carrousel-slide-chico h2{
width: 50%;
margin-left: auto;
margin-right: auto;
font-size: 30%;
margin-top: 5px;
font-weight: 100;
}

.carrousel-slide-chico .p{
font-size: 15%;
color: rgb(196, 192, 192);
line-height: 120%;
margin-top: 5px;
width: 50%;
margin-left: auto;
margin-right: auto;
}

.carrousel-slide-chico .p{
text-align: left;
}

.carrousel-slide-chico .p{
text-align: left;
}

/*
.carrousel-slide-grande h2{
font-size: 16px;
margin-top: 30px;
margin-bottom: 20px;
font-weight: 100;
width: 50%;
margin-left: auto;
margin-right: auto;
}

.carrousel-slide-grande p{
font-size: 12px;
color: rgb(196, 192, 192);
line-height: 1px;
margin-top: 5px;
width: 50%;
margin-left: auto;
margin-right: auto;

}
*/


/*--------------VIDEOS EN CELULAR.-----------*/

.border-rosa{
border: var(--insecta-rose) thick solid;
}

.border-claro{
border: rgb(173, 170, 170) thick solid;
}

.border-oscuro{
border: rgb(22, 22, 22) thick solid;
}


.danza-bordes-container{
position: relative;
max-width: 100%;
height: 0;
padding-bottom: 66.25%;
margin-left: 0%;
margin-right: 0%;
transition: filter 1.5s linear;
background-color: rgb(0, 0, 0);


}
.danza-bordes-container>*{
position: absolute;
width: 100%;      
height: 100%;







}
.estilos-danza{
width: 260px;
height: 173px;


padding-left: 8px;

padding-right: 8px;
border-radius: 5%;
background-color: rgb(0, 0, 0);
margin-left: auto;
margin-right: auto;
transform: perspective(300px) rotateX(1deg) rotateY(-3deg) rotateZ(3deg) translateX(-15px);

box-shadow: 5px 0 0.7rem 0.1rem rgb(39, 38, 38);

}


.danza-total-container{

width: 100%;

height: 280px;
padding-top: 20px;
box-sizing: border-box;
background-size: cover;


background-position-x: 40%;
filter:blur(0rem) sepia(0);
box-sizing: content-box;
margin-left: auto;
margin-right: auto;
margin-top: 80px;
margin-bottom: 0px;

}


.agujero-chico{
position: absolute;
width: 7.75px;
height: 7.75px;
background-image: radial-gradient(circle 6.5px, black 0%, black 40%,rgb(74, 77, 77) 40%, rgb(43, 44, 44) 85%, white 86%);

border-radius: 50%;
top: 107px;
left: 117px;
z-index: 20;
}

.conico{
position: absolute;
width: 180px;
height: 180px;
border-radius: 50%;
background-image: conic-gradient(from 180deg, transparent 0%, transparent 7%, rgba(205, 211, 205, 0.2) 15%, transparent 23%, transparent 57%, rgba(205, 211, 205, 0.2) 65%, transparent 73%);
background-image: conic-gradient(from 180deg, transparent 0%, transparent 7%, rgba(205, 211, 205, 0.4) 15%, transparent 23%, transparent 57%, rgba(205, 211, 205, 0.4) 65%, transparent 73%);
z-index: 5;  
top: 19.5px;
left: 30px;
}